name: tests
run-name: Run tests
on:
  push:
    branches:
      - master

jobs:
  tests:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Update brew
        run: brew update

      - name: Run a local testnet in the background
        uses: aptos-labs/actions/run-local-testnet@main
        with:
          PNPM_VERSION: 8.9.0
          WITH_INDEXER_API: false

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Generate GraphQL Client
        run: ./gradlew graphqlGenerateClient
        shell: bash

      - name: Run tests
        run: ./gradlew test